<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Phoenix Live Page Starter App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Phoenix Live Page Starter App</a>
    </nav>

    <main class="main" role="main" style="margin-top: 56px;">
        <div class="jumbotron">
            <div class="container text-center">
                <h1 class="display-4">Internal Server Error (500)</h1>
                <p class="lead">We're sorry, but something went wrong.</p>
                <hr class="my-4">
                <p>We apologize for the inconvience. Please try again later.</p>
            </div>
        </div>
    </main>
</body>

</html>